**PRACTICE EXERCISE 1**

1. Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [ ]:
import math
radius = float(input("Enter the radius: ")) #to input radius from the user
area = math.pi * (radius ** 2)              #to calculate area
print("Area of Circle is ",area)            #to display area

Enter the radius: 3
Area of Circle is  28.27433388231

2. Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [ ]:
name = input("Enter the name: ")           #to give input on studentdetails
roll_number = input("Enter the roll number: ")
mark = input("Enter the mark: ")
print("Name:", name)                        # Display the student details
print("Roll No:", roll_number)
print("Mark:", mark)

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Name: Anisha
Roll No: 21
Mark: 78

3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [ ]:
numbers = input("Enter a list of numbers separated by commas: ") #to input numbers
numbers_list = [int(num) for num in numbers.split(',')]     # Convert the input string to a list of integers
largest_number = max(numbers_list)                          # Find the largest number in the list
print(largest_number,"is the largest number.")            #to  display output

Enter a list of numbers separated by commas: 12,3,47,10
47 is the largest number.

4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [ ]:
for current_number in range(1,11):      # range of first 10 numbers
   previous_number = current_number - 1  #to get previous number
   print("current number",current_number)    #to display current number, previous number, and their sum
   print("previous number",previous_number)
   print("sum:",current_number + previous_number)

current number 1
previous number 0
sum: 1
current number 2
previous number 1
sum: 3
current number 3
previous number 2
sum: 5
current number 4
previous number 3
sum: 7
current number 5
previous number 4
sum: 9
current number 6
previous number 5
sum: 11
current number 7
previous number 6
sum: 13
current number 8
previous number 7
sum: 15
current number 9
previous number 8
sum: 17
current number 10
previous number 9
sum: 19

5. Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [ ]:
numbers_input= input("Enter a list of numbers separated by commas: ")  #to input numbers
numbers_list = [int(num) for num in numbers_input.split(',')]         # Convert the input string to a list of integers
res = [num for num in numbers_list if num % 5 == 0]                   #to get numbers divisible by 5
print("Numbers divisible by 5:", res)                                 # Print the result

Enter a list of numbers separated by commas: 10,20,33,46,55
Numbers divisible by 5: [10, 20, 55]

6. Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number.

In [ ]:
num = int(input("Enter the number:"))   #to give input number
for i in range(2,num//2 + 1):           #Check for factors in the range from 2 to half of the number
 if num % i ==0:                       # to check if number is divisible by any i
  print('not prime')
  break
else:
  print(num,'is a prime')             # If no factors are found, the number is prime

Enter the number:3
3 is a prime

7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [ ]:
numbers_input = input("Enter a list of numbers separated by commas: ")  #to input lists of numbers
numbers_list = [int(num) for num in numbers_input.split(',')]          # Convert the input string to a list of integers
reversed_list = []
for i in range(len(numbers_list) - 1, -1, -1):                       # Use a for loop to reverse the list
    reversed_list.append(numbers_list[i])
print("Reversed list:",reversed_list)                                # Print the reversed list

Enter a list of numbers separated by commas: 10,40,30,70
Reversed list: [70, 30, 40, 10]

8. Write a Python program to print the following pattern.
*
**
***
****

In [ ]:
num_rows = 4                            #to set the number of rows
for i in range(1, num_rows + 1):         # Loop to iterate through each row
    print('*' * i)

*
**
***
****

9. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [ ]:
num1 = float(input("Enter the first number: "))           # Get three numbers from the user
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
maximum_number = max(num1, num2, num3)                    # Find the maximum of the three number
print("The maximum number is:", maximum_number)           # Display the result

Enter the first number: 34
Enter the second number: 12
Enter the third number: 7
The maximum number is: 34.0

10. Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [1]:

for i in range(1, 6):          #to print the increasing pattern
    print('*' * i)
for j in range(4, 0, -1):        #to print the decreasing pattern
    print('*' * j)

*
**
***
****
*****
****
***
**
*

**PRACTICE EXERCISE 2**


1. Write a Python program to accept a string value from the user and display
the count of each character in that string. Sample input: Enter a string
value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [ ]:
input_string = input("Enter a string value: ")                  # to input string from the user
char_counts = {}
for char in input_string:                                       # Iterate through each character in the input string
    char_counts[char] = char_counts.get(char, 0) + 1            # Update the count in the dictionary
print("Sample output:", end=" ")
for char, count in char_counts.items():
    print(f"{char}={count}", end=", ")
print()

Enter a string value: assembly
Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1,

2. . Write a Python function to find the maximum of three numbers Sample
input: 34,12,7 Sample output: 34

In [ ]:
def find_maximum(num1, num2, num3):                          # Find the maximum of three numbers
    return max(num1, num2, num3)
num1 = float(input("Enter the first number: "))            # to get three numbers from the user
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
maximum_number = find_maximum(num1, num2, num3)            # Call the function
print("The maximum number is:", maximum_number)            # display the result

Enter the first number: 34
Enter the second number: 12
Enter the third number: 7
The maximum number is: 34.0

3. Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input: Enter the
base: 2 Enter the exponent: 3 Sample output: 8

In [ ]:
def exponent(base, exp):                                #to calculate and return base raised to the power of exp as an integer
    return int(base ** exp)
base = int(input("Enter the base: "))                   #give user inputs
exp = int(input("Enter the exponent: "))
result = exponent(base, exp)                             # Call the function
#print({base} "raised to the power of "{exp} ,result) # display the result
print("ouput",result)

Enter the base: 2
Enter the exponent: 3
ouput 8

4. Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.

In [ ]:
def sum_of_cubes(n):
     total_sum = 0     # Initialize the sum
     for i in range(1, n):     # to calculate the sum of cubes for each positive integer smaller than n
        total_sum += i ** 3
     return total_sum

num = int(input("Enter a positive integer: "))    #input positive integer
result = sum_of_cubes(num)                       #call the function
print("output:" ,result   )          #display result

Enter a positive integer: 4
output: 36

5. Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz

In [ ]:
for num in range(1, 11):                 # Iterate from 1 to 10
    if num % 2 == 0 and num % 5 == 0:     # Check for multiples of 2 and 5
        print("FizzBuzz")
    elif num % 2 == 0:
        print("Fizz")
    elif num % 5 == 0:
        print("Buzz")
    else:
        print(num)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

6. Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [ ]:
numbers_input = input("Enter a list of numbers separated by commas: ")    #to input numbers
numbers_list = [int(num) for num in numbers_input.split(',')]           # Convert the input string to a list of integers
frequency_dict = {}                                                      #create dictionary
for num in numbers_list:                                                # Iterate through the list and count the frequency of each number
    frequency_dict[num] = frequency_dict.get(num, 0) + 1
most_frequent_item = max(frequency_dict, key=frequency_dict.get)     #Find the most frequent item
print("The most frequent item in the list is: ",most_frequent_item)  #to display output

Enter a list of numbers separated by commas: 2,3,4,2,5,2
The most frequent item in the list is:  2

7. Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15

In [ ]:
numbers_input = input("Enter a list of numbers separated by commas: ")    #to give user input
numbers_list = [int(num) for num in numbers_input.split(',')]            # Convert the input string to a list of integers
sum_of_squares = sum(num**2 for num in numbers_list)                   # Calculate the sum of squares
print("The sum of squares of the numbers in the list is:", sum_of_squares) #to display output

Enter a list of numbers separated by commas: 2,1,3,1
The sum of squares of the numbers in the list is: 15

8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd

In [ ]:
for num in range(1, 16):                            # Iterate from 1 to 15
    if num % 2 == 0:                          #to check num is odd or even
        print(num,"even")
    else:
        print(num,"odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd

9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5

In [ ]:
def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5 / 9
    return celsius

def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9 / 5) + 32
    return fahrenheit

fahrenheit_input = float(input("Temperature in Fahrenheit: "))  #to give user input for temp in F
celsius_result = fahrenheit_to_celsius(fahrenheit_input)        # Convert Fahrenheit to Celsius
print("Temperature in Celsius:",celsius_result)
celsius_input = float(input("Temperature in Celsius: "))      #to give user input for tempin Celsius
fahrenheit_result = celsius_to_fahrenheit(celsius_input)      # Convert Celsius to Fahrenheit
print("Temperature in Fahrenheit: ",fahrenheit_result)

Temperature in Fahrenheit: 41
Temperature in Celsius: 5.0
Temperature in Celsius: 5
Temperature in Fahrenheit:  41.0

10. Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6

In [ ]:
def factorial(n):
    if n == 0:                 # Base case
        return 1
    else:
        return n * factorial(n - 1) # Recursive case
number = int(input("Enter a non-negative integer: "))  #to give user input
result = factorial(number)      #functioncall
print("The factorial of number is: ",result)  #display output

Enter a non-negative integer: 3
The factorial of number is:  6